.paginate {
  margin: 40px 0px;
}

.paginate ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-start ul {
  justify-content: start;
}

.justify-end ul {
  justify-content: end;
}

.paginate ul li a {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #929292;
  margin: 0px 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: 1px solid #edeff1;
}

@media screen and (min-width: 768px) {
  .paginate ul li a {
    margin: 0px 8px;
  }
}
