.card {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  /* background-position: 40%; */
  background-position: center;
  border-radius: 8px;
}

.card::before {
  content: url("../../../assets/corner2.svg");
  position: absolute;
  top: 0;
  right: 0;
}

.card::after {
  content: url("../../../assets/corner3.svg");
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-detail {
  position: absolute;
  bottom: 8px;
  left: 15px;
  right: 15px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-detail::before {
  content: url("../../../assets/corner1.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.card-detail::after {
  content: url("../../../assets/corner4.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 639px) and (min-width: 500px) {
  .card {
    height: 300px !important;
  }
}
